@charset "UTF-8";

body {
	margin: 0;
}

#header {
	display: flex;
	justify-content: space-between;
	background-color:rebeccapurple;
	color: azure;
	height: 80px;
	margin: 0;
}

#logo {
	height: 80px;
}

.logo_container {
	padding: 0 1%;
}

.header_title {
	margin: auto;
}

.header_title a{
	font-size: 15px;
	color: azure;
	text-decoration: none;
}

.nav_container {
	padding: 0 1%;
}

.nav_toggle {
	display: block;
	position: relative;
	width: 1.75rem;
	height: 1.5rem;
	margin: 100% 0;
}
.nav_toggle i {
	display: block;
	width: 100%;
	height: 3px;
	background-color: azure;
	position: absolute;
	transition: transform .5s, opacity .5s;
}
.nav_toggle i:nth-child(1) {
 	top: 0;
}
.nav_toggle i:nth-child(2) {
	top: 0;
	bottom: 0;
	margin: auto;
}
.nav_toggle i:nth-child(3) {
	bottom: 0;
}

.nav_toggle.show i:nth-child(1) {
	transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
	opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
	transform: translateY(-12px) rotate(45deg);
}

.nav {
	position: fixed;
	top: 80px;
	left: 80%;
	right: 0;
	bottom: 0;
	padding: 1rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s, visibility .5s;
	width: 20%;
	height: 25%;
	border-radius: 20px;
}

.nav.show {
	opacity: 0.7;
	visibility: visible;
	background-color: mediumpurple;
}

.nav_menu_ul {
	list-style-type: none;
	padding: 5%;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.nav_menu_ul li {
	margin: 5px 0;

}

.nav_menu_ul a{
	color: cornsilk;
	text-decoration: none;
}


#footer {
	background-color:rebeccapurple;
	color: azure;
	position: fixed;
	bottom: 0;
	padding: 1rem;
	visibility: visible;
	height: 10px;
	width: 100%;
}

.footer_copy {
	text-align: right;
	padding: 0 5%;
}